 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
 }

section {
    padding: 0 calc(15.45vw - 44.5px);
    /* margin-bottom: calc(11vw + 18.4px); */
 }
 
 /* razrabotka IT produktov */

.header_gen_wind {
   display: flex;
   padding-top: calc(-1.26vw + 49.2px);
   justify-content: space-between;
 }

.header_gen_wind .right {
   display: flex;
   justify-content: space-between;
   gap: 0 60px;
   align-items: center;
 }
 
.phone_number {
   display: flex;
   gap: 0 6px;
   align-items: center;
   
 }

.gen_p {
   font-size: 16;
   font-weight: 700;
   color: #1E959B;
 }

.gen_win_bottom {
   display: flex;
   margin-top: 55px;
   justify-content: start;
   align-items: center;
   gap: calc(6.39vw + 2px);
}

.tex_tema {
   font-size: 32px;
   font-weight: 700;
   line-height: 125%;
   color: #1E959B;
   padding-bottom: 16px;
   text-transform: uppercase;
}

.gen_win_bot_left p {
   font-size: 14px;
   font-weight: 400;
   line-height: 114%;
   color: #3C3C3C;
}

.gen_win_bot_left {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   gap: 50px; 
}
.gen_win_bot_left button {
   padding: 25px;
}

.gen_win_text {
   display: flex;
   flex-direction: column;

}

.gen_win_text.first-child {
   align-items: center;
}

 @media (max-width:1210px) {
   .header_gen_wind .right {
      display: none;
   }
   .header_gen_wind {
      justify-content: center;
   }
   .gen_win_bottom {
      justify-content: center;
   }
   .gen_win_bottom img {
      display: none;
   }
   .tex_tema {
      text-align: center;

   }
   .gen_win_bot_left {
      gap: 152px;
   }
   .gen_win_bot_left button {
      margin: 0 auto 163px;

   }
   /* .gen_win_bot_left tex_tema {
      margin: 0 auto;
   } */

   .logo_img {
      width: 318px;
   }
   
   
 }

 /* companies */

.companies {
   width: 100%;
   background-color: #1E959B;
   padding: 17px 132px 18px 141px;
   margin-bottom: calc(2.91vw + 78px);

}

.companies_desktop {
   display: flex;
   /* gap: 60px; */
   justify-content: space-between;

}

.companies_mobile {
   display: none;
   padding: 0 auto;
   text-align: center;
 
}




@media (max-width:1210px) {
   .companies_desktop {
      justify-content: center;
      gap: 40px;
   }
   .companies_desktop {
      flex-wrap: wrap;
   }

}


@media (max-width:690px) {
   .companies_desktop {
      display: none;
   }
   .companies_mobile {
      display: flex;
      justify-content: center;
      /* background-color: #F05670; */

     
    
   }

   .splide {
      display: flex;
      justify-content: space-between;
      width: 400px;
      
   }

   .splide__list {
      display: flex;
      align-items: center;
   }

}


/*------------ Plan ------ page 2*/


.plan_wrapper {
   width: 100%;
   background-color: #FFFFFF;
   padding: 0 132px 0 141px;
   /* margin-bottom: calc(2.91vw + 78px); */
  
}

.plans_desktop {
   display: flex;
   justify-content: space-between;

}


.plan:first-child {
   box-shadow: none;
   /* border-top: 4px ridge  #1E959B;
   border-left: 1px ridge  #1E959B;
   border-right: 1px ridge  #1E959B; */
   /* box-shadow: 10px 1px 1px 0px #1E959B; */
   box-shadow: #1E959B 0px 5px 10px -5px inset;

   /*box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;*/
}

.plan {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 21px;
   background-color: #FFFFFF;
   width: 195px;
   height: 164px;
   border-radius: 25px;
   border: none;
   /* border-bottom: 4px ridge  #1E959B;
   border-left: 1px ridge  #1E959B;
   border-right: 1px ridge  #1E959B; */
   /* box-shadow:  -1px 1px 0px -1px #1E959B; */
   box-shadow:  #1E959B 0px 5px 10px -5px;  /*https://getcssscan.com/css-box-shadow-examples*/
   
}

.plan_text {
   text-transform: uppercase;
   font-size: 13.5px;
   font-weight: 400;
   color: #3C3C3C;
   line-height: 120%;
}

.plans_mobile {
   display: none;

}

@media (max-width:1250px) {
   .plans_desktop { 
      justify-content: center;
      flex-wrap: wrap;
   }
}


@media (max-width:690px) {

   .plans_desktop {
      display: none;
   }

   .plans_mobile {
      display: flex;
      justify-content: center;
      align-items: center;

   }

   .splide.plan_sp {
      display: flex;
      justify-content: center;
      width: 400px;
      
   }

   .splide__slide {
      display: flex;
      justify-content: center;
   }

}

/* ------------------------------- INTERYU PAGE 3 ----------------------------*/

.interviews_wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 33px;
   flex-shrink: 0;
   gap: 65px;  
   
}


.interviews_mobile_but {
   display: none;
   margin: 0 auto;
}

.interviews {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
  

}
.interviews h2 {
   font-size: 31px;
   font-weight: 700;
   color: #1E959B;
   line-height: 125%;
   margin-bottom: 27px;
   text-transform: uppercase;
}
.interviews p {
   font-size: 14px;
   font-weight: 400;
   color: #3C3C3C;
   line-height: 114%;
   margin-bottom: 44px;
}
   
.interviews_but {
   text-transform: uppercase;
   color: #FFFFFF;
   background-color: #F05670;
   border-radius: 15px;
   font-size: 14px;
   font-weight: 700;
   cursor: pointer;
   border: 0;
   padding: 25px 21px;
}




@media (max-width:960px) {
   
   .interviews p {
      margin-bottom: 0;
   }

   .interviews_desktop_but {
      display: none;
   }
   .interviews_mobile_but {
      display: block;
      margin-top: 27px;
   }

   .interviews_wrapper {
      align-items: center;
      flex-direction: column-reverse;      
      gap: 27px; 
   }
   .interviews h2 {
      text-align: center;
   }
   .interviews_wrapper img {
      width: 100%;
   }


}


/* ------------------------------- PROJECTS PAGE 4 ----------------------------*/


/* for ALL */


 button {
   text-transform: uppercase;
   color: #FFFFFF;
   background-color: #F05670;
   border-radius: 15px;
   font-size: 14px;
   font-weight: 700;
   cursor: pointer;
   border: 0;
   padding: 23px 40px;
 }