 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
 }


body {
   background-color: #ecf9faf3;
}

section {
    
   
   padding: 0 calc(15.45vw - 44.5px);
    /* margin-bottom: calc(11vw + 18.4px); */
 }
 

 /* razrabotka IT produktov */

 header {
   display: flex;
   padding-right: calc(11.67vw);
   padding-top: calc(2.78vw - 9px);
   padding-left: calc(12.5vw - 2px);
   justify-content: space-between;

 }

 header .right {
   display: flex;
   justify-content: space-between;
   gap: calc(4.58vw - 6px);
   align-items: center;
 }
 
.phone_number {
   display: flex;
   gap: 0 6px;
   align-items: center;
   
 }

.gen_p {
   font-size: 16;
   font-weight: 700;
   color: #1E959B;
 }

.gen_win_bottom {
   display: flex;
   flex-direction: column;
   align-items: start;
   padding-top: calc(12.22vw - 1px);
   margin-left: calc(12.92vw - 3px);
   gap: calc(3.33vw + 2px); 
   background-image: url(../images/Frame.png);
   background-repeat: no-repeat;
   background-position-x: calc(28.89vw);
   background-position-y: calc(3.89vw);

}

.tex_tema {
   font-size: 32px;
   font-weight: 700;
   line-height: 125%;
   color: #1E959B;
   padding-bottom: 16px;
   text-transform: uppercase;
}


.gen_win_text {
   display: flex;
   flex-direction: column;
   gap: calc(0.97vw + 2px);

}

.gen_win_text.first-child {
   align-items: center;
}


.gen_win_text p {
   font-size: 14px;
   font-weight: 400;
   line-height: 114%;
   color: #3C3C3C;
}




.gen_win_bottom button {
   padding: 25px;
   margin-bottom: calc(12.78vw + 1px);
   margin-top: calc(3.33vw + 2px);

}


 @media (max-width:1210px) {
   header .right {
      display: none;
   } 
  
 }


 @media (max-width:690px) {
   header {
      margin-top: 44px;
      justify-content: center;
      
   }

   .gen_win_bottom {
      justify-content: center;
      align-items: center;
      margin-top: 64px;
      padding-top: 0;
      gap: 152px;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      background-position-y: 120px;
      background-position-x: -182px;
      
   }

   .gen_win_bottom button {
      margin-bottom: 163px;
   }


   .tex_tema {
      text-align: center;

   }
   .gen_win_bot_left {
      gap: 152px;
   }

   .gen_win_bot_left button {
      margin: 0 auto 163px;
   }
   
   .logo_img {
      width: 318px;
   }
   
 }




 /* companies */

.companies_wrapper {
   width: 100%;
   background-color: #1E959B;

   padding-top: calc(1.11vw + 1px);
   padding-right: calc(9.17vw);
   padding-bottom: calc(1.39vw - 2px);
   padding-left: calc(9.72vw + 1px);

   margin-bottom: calc(2.91vw + 78px);

}

.slider_item { 
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 0;
   height: 90px;
   padding: 0 20px;
}

.slider_item:first-child {
   justify-content: start;
}


.slider_item:last-child {
   justify-content: end;
}

.slick-slide {
   width: 260px;
   margin: 0 20px;
}

.slick-track {  
   
   display: flex;
   justify-content: space-between;
                
}

.slick-list {
  
   overflow: hidden;
}

.slider {
   display: block;
   align-items: stretch;  
}


.slider .slick-arrow {
   /* position: absolute; */
   font-size: 0;
   width: 16px;
   height: 16px;
}

.slider .slick-arrow.slick-prev {
   /* left: 0px; */
   background: url('../images/strelka_1_left.png') 0 / 50% no-repeat;
   padding-left: 0px;
   /* top: 30%; */
   
}

.slider .slick-arrow.slick-next {
   /* right: 0; */
   background: url('../images/strelka_1_ringth.png') 0 / 50% no-repeat;
   padding-right: 0px;
   /* top: 30%; */
}

.slider .slick-arrow.slick-disabled {
   opacity: 0.2;
}

.slider .slick-arrow.slick-actived {
   opacity: 0.2;
}

.slider_item img {
   width: 100%;
}


@media (max-width:1429px) {


   .slider {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
      position: relative;
      
   }

   .slider_item:first-child {
      justify-content: center;
   }
   .slider_item:last-child {
      justify-content: center;
   }

   .companies_wrapper {
      padding-top: 16px;
      padding-bottom: 16px;
   }

   /* .slider_item img {
      width: auto;
   } */

}






/*------------ Plan ------ page 2*/



.plan_wrapper {
   width: 100%;
   padding-right: calc(9.17vw);
   padding-left: calc(9.72vw + 1px);

}

.plan-slider_item:first-child {
   box-shadow: none;
   box-shadow: #1E959B 0px 5px 10px -5px inset;

}

.plan-slider_item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 21px;
   background-color: #FFFFFF;
   width: 195px;
   height: 164px;
   border-radius: 25px;
   margin-bottom: 12px;
   box-shadow: none;
   box-shadow:  #1E959B 0px 5px 10px -5px;  /*https://getcssscan.com/css-box-shadow-examples*/
   
}

.plan_text {
   text-transform: uppercase;
   font-size: 13.5px;
   font-weight: 400;
   color: #3C3C3C;
   line-height: 120%;
}

.plan-slider {
   display: flex;
   justify-content: space-between;
}


.plan-slider .slick-arrow.slick-prev {
   /* left: 0px; */
   background: url('../images/strelka_2_left.png') 0 / 50% no-repeat;
   padding-left: 0px;
   /* top: 35%; */
   
}

.plan-slider .slick-arrow.slick-next {
   right: 0;
   background: url('../images/strelka_2_ringth.png') 0 / 50% no-repeat;
   padding-right: 0px;
   top: 35%;
}

.slick-list {
 
   overflow: hidden;
}

.plan-slider {
   display: block;
   align-items: stretch;
 
  
   
}


.plan-slider .slick-arrow {
   /* position: absolute; */
   font-size: 0;
   width: 20px;
   height: 20px;
}



.plan-slider .slick-arrow.slick-disabled {
   opacity: 0.2;
}

.paln-slider .slick-arrow.slick-actived {
   opacity: 0.2;
}

@media (max-width:1429px) {
   .plan-slider {
       display: flex;
       justify-content: space-between;
       gap: 10px;
       align-items: center;
       position: relative;
       
    }

    .plan-slider_item {
       box-shadow: none;
       box-shadow: #1E959B 0px 5px 10px -5px inset;
    
    }
}



/* ------------------------------- INTERYU PAGE 3 ----------------------------*/

.interviews_wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 33px;
   flex-shrink: 0;
   gap: 65px;  
   
}


.interviews_mobile_but {
   display: none;
   margin: 0 auto;
}

.interviews {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
  

}
.interviews h1 {
   font-size: 31px;
   font-weight: 700;
   color: #1E959B;
   line-height: 125%;
   margin-bottom: 27px;
   text-transform: uppercase;
   width: 480px;
}

.interviews p {
   font-size: 14px;
   font-weight: 400;
   color: #3C3C3C;
   line-height: 114%;
   margin-bottom: 44px;
}
   
.interviews_but {
   text-transform: uppercase;
   color: #FFFFFF;
   background-color: #F05670;
   border-radius: 15px;
   font-size: 14px;
   font-weight: 700;
   cursor: pointer;
   border: 0;
   padding: 25px 21px;
}




@media (max-width:1310px) {
   
   .interviews p {
      margin-bottom: 0;
   }

   .interviews_desktop_but {
      display: none;
   }
   .interviews_mobile_but {
      display: block;
      margin-top: 27px;
   }

   .interviews_wrapper {
      align-items: center;
      flex-direction: column-reverse;      
      gap: 27px; 
   }
   .interviews h1 {
      text-align: center;
   }
   .interviews_wrapper img {
      width: 100%;
   }

   .interviews h1 {
      font-size: 24px;
      width: 370px;
   }
   

}


/* ------------------------------- PROJECTS PAGE 4 ----------------------------*/



/* for ALL */


 button {
   text-transform: uppercase;
   color: #FFFFFF;
   background-color: #F05670;
   border-radius: 15px;
   font-size: 14px;
   font-weight: 700;
   cursor: pointer;
   border: 0;
   padding: 23px 40px;
 }