.serice_wrapper {
    width: 100%;
    margin-top: calc(12.5vw);
    margin-bottom: 120px;
}


.list_services_grin {
    display: grid;
    grid-template-columns: 1fr repeat(4, 290px) 1fr;
    grid-template-rows: repeat(4, 77px) 83px repeat(4, 77px);
    gap: 0 50px;

}

.service_background1 {
    background-color: #1E959B;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}

.service_background2 {
    background-color: #1E959B;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 9;
}

.list_services_grin .service {
    /* width: 289px; */
    /* height: 305px; */
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    position: relative;
    box-shadow: none;
    box-shadow: #1E959B 0px 15px 20px -10px;
    /* text-align: center; */

}

.ico_service {
    /* display: block; */
    width: 182px;
    height: 182px;
    background-color: rgba(30, 149, 155, 1);
    border-radius: 50%;
    position: absolute;
    top: -30px;
    /* left: 50%; */
    display: flex;
    justify-content: center;
    align-items:center;
}

.service button {
    margin-bottom: 20px;
    width: 207px;
}

.service .service_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.service_info p {
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1E959B;
    text-align: center;
}

.ico_service img {
    width: 105px;
}

.list_services_grin .service.ser1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.list_services_grin .service.ser2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.list_services_grin .service.ser3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.list_services_grin .service.ser4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}

.list_services_grin .service.ser5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 10;
}

.list_services_grin .service.ser6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 10;
}

.list_services_grin .service.ser7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
}

.list_services_grin .service.ser8 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 10;
}


.list_services_flex {
    display: none;
}



@media (max-width:1365px) {
    
    .list_services_grin {
        display: none;
    }
 
    .list_services_flex {
        display: flex;
        justify-content: space-between;
        /* gap: 27px; */
        position: relative;
        align-items: center;
    
     }
    
     .list_services_flex::before {
         content: "";
         width: 100%;
         height: 125px;
         top: 140px;
         left: 0;
         background-color: #1E959B;
         position: absolute;
         z-index: -1;
     }
    
     .list_services_flex .service {
        width: 248px;
        height: 363px;
    }
    
    
    .list_services_flex .service {
        width: 248px;
        height: 363px;
        background-color: #fff;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        position: relative;
        box-shadow: none;
       box-shadow: #1E959B 0px 15px 20px -10px;
    }
    
    .list_services_flex .ico_service {
        width: 170px;
        height: 170px;
    }
    
    
    .list_services_flex .slick-arrow.slick-prev {
        /* left: 0px; */
        background: url('../images/strelka_1_left.png') 0 / 50% no-repeat;
        padding-left: 0px;
        /* position: absolute; */
        /* top: 35%; */
        margin-left: 38px;
        
     }
     
     .list_services_flex .slick-arrow.slick-next {
        /* right: 0; */
        background: url('../images/strelka_1_ringth.png') 0 / 50% no-repeat;
        padding-left: 0px;
        /* position: absolute; */
        /* top: 35%; */
        margin-right: 38px;
    
     }
     
     .list_services_flex .slick-arrow {
        position: relative;
        font-size: 0;
        width: 10px;
        height: 20px;
        
     }
    
     .list_services_flex .slick-arrow.slick-disabled {
        opacity: 0.2;
     }
     
     .list_services_flex .slick-arrow.slick-actived {
        opacity: 0.2;
     }
    
    
    .list_services_flex .slick-list {
        overflow: hidden;
        padding-top: 31px;
        padding-bottom: 25px;
    
     }
    
  
}

@media (max-width:500px) {
 
    .list_services_flex .slick-arrow.slick-prev {
        
        margin-left: 28px;
        
     }
     
     .list_services_flex .slick-arrow.slick-next {
       
        margin-right: 18px;
     }
  
}





/* 

       <img src="./images/ico_telegram.png" alt="telegram"> 
            <img src="./images/ico_massage.png" alt="">
            <div class="phone_number">
                    <img src="./images/ico_phone.png" alt="">
                    <p class="gen_p">+7 800 301-79-27</p>
            </div>
            <button class="gen_button">НАЧАТЬ ПРОЕКТ</button>
            </div>
        

*/